
body {
  background-color: #fbc420;
  margin: 0;
}

.hero {
  background-color: rgb(248, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-center {
  margin: 20px 60px;
  max-height: 900px;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr auto;
  
}

.hero-title {
  max-width: 500px;
  text-align: left;
}

.hero-title h1 {
  font-size: 3rem;
  letter-spacing: 2px;
}

.image-container {
  align-self: center;
}

.hero-image {
  width: 350px;
}

@media screen and (max-width: 768px) {
  .hero-image {
    display: none;
  }
}