
body {
  background-color: rgb(251, 196, 32);
  margin: 0;
}

.hero {
  background-color: rgb(248, 245, 245);
  display: flex;
  justify-content: center;
}

.hero-center {
  margin: 20px;
  max-height: 900px;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr auto;
  
}

.hero-title {
  max-width: 500px;
  text-align: left;
}

.hero-title h1 {
  font-size: 3rem;
  letter-spacing: 2px;
}

.hero-image {
  height: 300px;
}